---
interface Props {}

const {} = Astro.props;
---


<div class="relative py-24 mt-10" id="about">
    <div class="flex sm:flex-row flex-col">
        <img class="md:w-3/5 object-cover md:mx-44 md:my-10 sm:w-full " src="/background-image.jpeg"/>
        <div class="md:absolute md:inset-0 flex  text-white md:items-center md:justify-end mx-20 sm:mt-6 items-center justify-center ">
            <div class="text-center sm:block mr-10">
                <h1 class="text-7xl font-roboto font-bold mb-8 mt-5">باشگاه پرشیا</h1>
                <p class=" text-3xl ">انتخاب قهرمانان و ورزشکاران ایران زمین</p>
            </div>
        </div>
    </div>
</div>


