<div class="relative pt-24 mt-10" id="about">
    <div class="flex md:flex-row flex-col">
        <div class="md:absolute md:inset-0 flex text-white md:items-center mx-16 mt-6" dir="rtl">
            <div class="lg:text-center block z-10 pb-10 pt-5 justify-end">
                <h1 class="text-7xl font-roboto font-bold lg:mx-44 mb-8 mt-5">باشگاه پرشیا</h1>
                <p class=" text-3xl ">انتخاب قهرمانان و ورزشکاران ایران زمین</p>
            </div>
        </div>
        <img class="lg:w-3/5 object-cover lg:mx-44 lg:my-10 w-full lg:rounded-2xl lg:blur-none md:blur-sm" src="/background-image.jpeg" alt="backround image"/>
    </div>
</div>
