<div class="mx-auto max-w-5xl sm:mt-10 sm:px-6 lg:px-8  flex flex-col justify-center items-center pb-10" dir="rtl">
    <h1 class="text-white text-5xl mt-28 font-bold">همراه مربیان ما</h1>
    <p class="text-white mt-5 text-center pb-10  mx-5 text-3xl">بهترین تمرین خود را تجربه کن</p>

    <div class="relative w-full">
    <div class="mySlides fade">
        <img class="slide-img" src="./slide1.jpg" alt="slide1 image">
        <div class="overlay"></div>
        <div class="content">
            <figure>
                <blockquote class="quote">
                    <p class="text-3xl ">از قهرمانان ایران زمین با ۲۰ سال سابقه تمرین در رشته پرورش اندام.</p>
                </blockquote>
                <figcaption class="caption">محمد عروجن</figcaption>
            </figure>
        </div>
    </div>

    <div class="mySlides fade">
        <img class="slide-img" src="./slide2.jpg" alt="slide2 image">
        <div class="overlay"></div>
        <div class="content">
            <figure>
                <blockquote class="quote">
                    <p class="text-3xl">مربی دفاع شخصی آکادمی هنرهای رزمی باشگاه پرشیا و بنیان‌گذار سبک فول سلف دیفنس.</p>
                </blockquote>
                <figcaption class="caption">علی باب الحوائجی</figcaption>
            </figure>
        </div>
    </div>

    <div class="mySlides fade">
        <img class="slide-img" src="./slide3.jpg" alt="slide3 image">
        <div class="overlay"></div>
        <div class="content">
            <figure>
                <blockquote class="quote">
                    <p class="text-3xl">قهرمان بادی کلاسیک کشور و عضو تیم ملی ایران در سال ۱۴۰۰.</p>
                </blockquote>
                <figcaption class="caption">مصطفی ابوطالبی</figcaption>
            </figure>
        </div>
    </div>
    </div>

    <div class=" flex text-center items-center mb-10">
        <button class="dot"></button>
        <button class="dot"></button>
        <button class="dot"></button>
    </div>
</div>



<style>
    .mySlides {
        @apply mb-10 relative overflow-hidden bg-gray-900 shadow-xl max-w-screen-md mx-auto sm:rounded-3xl px-10 py-24 md:px-12 lg:px-20;
    }

    .slide-img {
        @apply absolute inset-0 w-full h-full block mx-auto object-cover;
    }

    .overlay {
        @apply absolute inset-0 bg-gray-800/50 mix-blend-multiply;
    }

    .content {
        @apply relative mx-auto max-w-2xl lg:mx-0;
    }

    .quote {
        @apply mt-6 font-semibold text-white sm:text-xl;
    }

    .caption {
        @apply mt-6 text-white text-2xl;
    }

    .dot {
        @apply bg-gray-600 h-4 w-4 inline-block rounded-full mx-2 duration-500;
    }

    .active {
        background-color: white;
    }

    .fade {
        animation-name: fade;
        animation-duration: 2s;
    }
    @keyframes fade {
        from {opacity: .6}
        to {opacity: 1}
    }
</style>



<script>
    let slideIndex = 0;
    showSlides();
    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }

        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace("active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000);
    }
</script>
